body {
    font-family: 'Oswald', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: center;
}

p a:link {
    text-decoration: none;
    border-bottom: 2px solid blue;
}

li {
    list-style: square inside;
}

#my-photo {
    width: 300px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #333;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    width: auto;
    height: 30px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

hr {
    border-color: black;
    background-color: black;
    width: 75%;
}

#wifes-site {
    margin-top: 15px;
}